.resume-root {
    width: 210mm;
    height: 297mm;
    background-color: rgb(252, 245, 238);
    padding: 50px;
}

.header {
    /* margin: 50px 60px; */
    display: flex;
    justify-content: center;
    gap: 50px;
}

.initials-container {
    align-self: center;
    /* margin-right: 15px; */
    display: flex;
    font-size: 45px;
    border: 2px solid;
    border-radius: 60px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.info-container {
    display: grid;
    padding-top: 10px;

}

.name {
    font-size: 45px;
    font-weight: 400;
    margin: 0;
    justify-self: start;
}

.details {
    & span {
        margin: 0 5px;
        font-size: 18px;
        padding-bottom: 2px;
        text-align: center;
    }
}

.details-phone::before {
    content: url('../images/phone.svg');
}

.details-email::before {
    content: url('../images/mail.svg');
}

.details-location::before {
    content: url('../images/location.svg');
}