#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --red-color: #EA4335;
  --blue-color: #4285F4;
  --yellow-color: #FBBC05;
  --green-color: #34A853;
}

#app {

  display: flex;
  padding: 0 80px 0;
  gap: 20px;
  /* flex-direction: column; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.edit-container {
  background-color: white;
}

form {
  background-color: inherit;
  margin-bottom: 10px;
  padding: 10px;
}

form h2 {
  justify-self: first baseline;
}

.container {
  /* padding: 0 20px 10px; */
  /* border: 1px solid black; */
  border-radius: 24px;
  min-width: 350px;
}

.container li {
  padding: 5px 0;
  list-style-type: none;
  width: 100%;

  display: flex;
  flex-direction: column;

  & label {
    align-self: flex-start;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
  }

  & input,
  input[type='date'],
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    padding: 3px 5px;
    font-size: 18px;
    border: 3px solid #222222;
    /* width: 100%; */
  }

  & input:focus {
    border: 3px solid #4285F4;
    outline: none;
  }

}

.edit-section {
  display: grid;
  justify-content: start;
}

.edit-section ul {
  display: flex;
  flex-direction: column;
  width: 325px;
  align-items: start;
  padding-left: 0;
  margin: 0;
}

.edit-mode-false {
  /* width: 130%; */
}

li button {
  background: var(--blue-color);
  width: 100%;

}

.edit-buttons {
  margin: 0 4px 0;

  & .submit-button {
    background: var(--green-color);
    margin: 0 4px 0;

  }

  & .delete-button {
    background: hsl(5, 81%, 56%);
    margin: 0 4px 0;

  }
}

.edit-buttons {
  margin: 8px 0;
  align-self: center;
}

.form-button {
  background: var(--blue-color);
  align-self: center;
  font-size: 35px;
  padding: 0;
  width: 100%;
  /* height: 35px; */
  /* border-radius: 40px; */
}

button {
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.15s;
}

button:hover {
  /* box-sizing: border-box; */
  border-color: #000000;
  /* border-width: 3px; */
}

button:focus,
button:focus-visible {
  outline: 7px auto -webkit-focus-ring-color;
}